.main-chat
  .main-chat__header
    .main-chat__header--group-member
      %p.main-chat__header--group-name
        = @group.name
      %ul.main-chat__header--member-list
        member :
        - @group.users.each do |user|
          %li.main-chat__header--member-list-name
            = user.name
    .main-chat__header--edit--btn
      = link_to edit_group_path(@group), class: "edit-btn" do
        Edit
  .main-chat__message-list
    = render @messages
  .main-chat__form
    = form_for [@group, @message] do |f|
      .message--text
        = f.text_field :content, class: "message--box__text", placeholder: 'type a message'
        .message--box
          = f.label :image, class: "message--box__image" do
            = icon('fas', 'image')
            =f.file_field :image, class: "massage--box__file"
        = f.submit 'Send', class: "submit--btn"
