.side-bar
  .side-bar__header
    .top-item
      %p.top-item__name
        = current_user.name
      %ul.top-item__icons
        %li.icon
        = link_to new_group_path, class: "message__btn" do
          = icon('fa', 'edit')
        %li.icon
        = link_to edit_user_path(current_user), class: "user-edit__btn" do
          = icon('fa', 'cog')
  .side-bar__group
    -current_user.groups.each do |group|
      .group-list
        = link_to group_messages_path(group), class: "group-lists" do
          %p.group-lists__name
            = group.name
          %p.group-lists__message
            = group.show_list_message
      